// main colors for components
$base-white = #fff
$base-sidebar = #f7f7f7
$base-light = #ececec
$base-dark = #000
$base-primary = #369BE9
$base-success = #16C294
$base-warning = #fa0
$base-error = #E95471
$base-light-dark = rgb(50, 60, 60)



