// main colors for components
$base-white = #fff
$base-light = #ececec
$base-dark = #000
$base-primary = #369BE9
$base-success = #16C294
$base-warning = #fa0
$base-error = #E95471

// main colors for logo
$default-lignt = #e8edf3
$default-yellow = #e6cf8b
$default-red = #b56969
$default-dark = #22264b