$row-prefix-cls = $css-prefix + 'row'
$col-prefix-cls = $css-prefix + 'col'

$make-row($gutter = $grid-gutter-width){
  position relative
  margin-left floor($gutter / -2)
  margin-right floor($gutter / -2)
  height: auto
  $clearfix()
}

$DOT = '.'
$SEP = '-'

$float-grid-columns(class = '')

  Col(index, list = '')

    _item = $DOT + $col-prefix-cls + $SEP + span + class + $SEP + index

    if (index <= $grid-columns) {
      Col((index + 1), list + ',' + _item)

    } else if (index > $grid-columns) {
      {list} {
        float left
        flex 0 0 auto
      }
    }

  Col(1)


$loop-grid-columns($index, $class) {

  if ($index > 0) {

    .{$col-prefix-cls}-span{$class}-{$index} {
      display: block
      width: percentage(($index / $grid-columns))
    }
    .{$col-prefix-cls}{$class}-push-{$index} {
      left: percentage(($index / $grid-columns))
    }
    .{$col-prefix-cls}{$class}-pull-{$index} {
      right: percentage(($index / $grid-columns))
    }
    .{$col-prefix-cls}{$class}-offset-{$index} {
      margin-left: percentage(($index / $grid-columns))
    }
    .{$col-prefix-cls}{$class}-order-{$index} {
      order: $index
    }
    $loop-grid-columns(($index - 1), $class)

  }

  else if ($index == 0) {

    .{$col-prefix-cls}-span{$class}-{$index} {
       display: none
    }
    .{$col-prefix-cls}{$class}-push-{$index} {
      left: auto
    }
    .{$col-prefix-cls}{$class}-pull-{$index} {
      right: auto
    }

  }
}


$make-grid($class = '') {
    $float-grid-columns($class)
    $loop-grid-columns($grid-columns, $class)
}
