// main colors for components

$primary-color          = #3399ff
$info-color             = #2db7f5
$success-color          = #00cc66
$warning-color          = #ff9900
$error-color            = #ff3300

$link-color             = #3399ff;
// for less 'rgba' can use 'tint'
$link-hover-color       = rgba($link-color, 20%)
// for less 'darken' is 'shade'
$link-active-color      = darken($link-color, 5%)
$selected-color         = rgba($primary-color, 90%)
$tooltip-color          = #fff
$subsidiary-color       = #9ea7b4
$rate-star-color        = #f5a623;

$base-white = #fff
$base-sidebar = #f7f7f7
$base-light = #ececec
$base-dark = #000
$base-primary = #369BE9
$base-success = #16C294
$base-warning = #fa0
$base-error = #E95471
$base-light-dark = rgb(50, 60, 60)



