
/* Colors
   ========================================================================== */
$primary-color          = #3399ff
$info-color             = #2db7f5
$success-color          = #00cc66
$warning-color          = #ff9900
$error-color            = #ff3300

$link-color             = #3399ff
// for less 'rgba' can use 'tint'
$link-hover-color       = rgba($link-color, 20%)
// for less 'darken' is 'shade'
$link-active-color      = darken($link-color, 5%)
$selected-color         = rgba($primary-color, 90%)
$tooltip-color          = #fff
$subsidiary-color       = #9ea7b4
$rate-star-color        = #f5a623


/* Base Config
   ========================================================================== */
$body-background        = #fff
$font-family            = "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
$code-family            = Consolas,Menlo,Courier,monospace
$title-color            = #464c5b
$text-color             = #657180


/* Font Size
   ========================================================================== */
$font-size-base         = 14px
$font-size-small        = 12px



/* Line Height
   ========================================================================== */
$line-height-base       = 1.5
$line-height-computed   = floor(($font-size-base * $line-height-base))



/* Border Radius
   ========================================================================== */
$border-radius-base     = 6px
$border-radius-small    = 4px

$base-white = #fff
$base-sidebar = #f7f7f7
$base-light = #ececec
$base-dark = #000
$base-primary = #369BE9
$base-success = #16C294
$base-warning = #fa0
$base-error = #E95471
$base-light-dark = rgb(50, 60, 60)



